body { 
  font-family: 'Inter', sans-serif; 
}
#logout-btn {
    cursor: pointer !important;
    pointer-events: auto !important;
  }
  
button {
  cursor: pointer;
}

.table-responsive { 
  display: block; 
  width: 100%; 
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
}

@media (max-width: 640px) {
  th, td { 
    white-space: nowrap; 
  }
}

